#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Contact table styling */
h2 {
  font-size: 3rem;
}

#contactTable thead tr:first-child {
  font-size: 2rem;
}

#contactTable thead tr > th {
  width: 12rem;
}

/* Contact rows styling */
.contact td {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact img {
  width: 100%;
}

#tableContainer button:not(:first-of-type) {
  margin-left: 2rem;
}

/* #tableContainer button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
} */
